<div id = 'articles'>
<h1>Top Reasons For Coupon Use By Women - Infographic</h1>
  <%= image_tag("top-reasons-for-coupon-use-by-women.jpg", :alt=>"Find out the top reasons why women use coupons - couponing increases among women in the United States in 2012.") %>

  <br /> <br />
 <strong>Embed this image on your site:</strong><br />
  <%= text_area_tag "embed code", "<a href=\"http:// www.dealsformommy.com/articles/top-reasons-for-coupon-use-by-women\"><img src=\"http:// www.dealsformommy.com/images/top-reasons-for-coupon-use-by-women.jpg\" alt=\"TopReasons For Coupon Use By Women Infographic\" border=\"0\" /></a><br />Via: <a href=\"http://www.dealsformommy.com/\">DealsForMommy.com</a>", :style=>"width:800px; height:65px;" %>
<br /> <br />
</div>