		<!-- Start dailyPromo -->
		<div id="dailyPromo">
			<div style="float:left;">
            <h5>Register today and receive this Instant Deal</h5>
			<h3>Today's Instant Deal: <%= Time.now.in_time_zone.strftime("%B %d, %Y") %></h3>
			<h2>Value: $50</h2>
            </div>
            <div class="ad"><p><strong>All Members Today Receive</strong><br /> a free 8 x 10 Canvas Portrait<br />or $50 towards a larger size<br /><span style="font-size:10px">(pay only s&h)</span></p></div>
		</div>
		<!-- End dailyPromo -->