<%= image_tag 'thmb-Delia.gif',:alt => 'Delia helps you find Deals', :size => '44x45', :align => 'left', :style => "float:left;margin:0 10px 20px 0;text-align: left;"  %>
<script>utmx_section("section1")</script>
<h1>Delia's Promise</h1>
<p>The easiest way to save on the things you already buy, from the brands you know and trust. Every day, I will scour the internet to bring you the latest instant coupons, local deals and samples.</p>
</noscript>
