<div>
  <h2>Save at Target and so much more!</h2>
  Members of deals for mommy have saved thousands on everything you need for your family.  <br />
  From diapers to formula to clothes and more.Join in on the savings, the community would love to have you.
</div>