<h1>Win Free Diapers for a Year</h1>
<div >
<%= link_to image_tag('DFM_freediapers_700px2.jpg',:alt=>"Win free pampers diapers "), "/" %>
</div>
<br>
<br>

<div style="width:80%;">
	One lucky winner will be chosen every week to receive a year's supply of diapers, courtesy of Deals for Mommy.
    <br/><br/>
	Contest begins on February 01, 2013 and ends on May 31, 2013. To be eligible for this contest you must be a member of Dealsformommy.com. Contest is open to U.S. residents who are 18 years and older.
    <br/><br/>
	Every week we will randomly choose a new or active Deals for Mommy member to receive a year's worth of diapers (a $600 value). The winner will be notified via email and will have 48 hours to respond or we will choose a new winner. Winners have the option to opt-out, gift, donate or get the cash value of the prize as an American Express gift card. A new member is defined as someone who has registered on the Deals for Mommy site for the first time. An active member is defined as someone who has logged into their Deals For Mommy account at least once during that week. 

</div>
