<div id="mainDiv" class="about">
	<h1>Who is Delia... and what is Deals for Mommy all about?</h1><br /><br />
    <%= image_tag 'delias-message2.gif',:alt => 'deals and coupons for moms', :size => '328x265', :align => 'right', :style => "margin:0 0 20px 10px;" %>
	<p><strong>Deals for Mommy</strong> was created by a bunch of moms and some helpful dads looking to bring all the top deal sites from across the web to a single, one-stop place for you to really save. <strong>Delia</strong> knows what it's like to be a busy mom, and she'll lead you to the hottest deals and savings in a snap!</p><br /><br />
	<p>We've taken the direction and advice from our members to make saving on everyday things easier... so we've categorized our deals and present them in a "Deal Dashboard" that is customizable to what is most important to you.</p><br /><br />
	<p>We continually scour the internet to bring you great deals, coupons, savings, discounts and freebies. Keep checking out your <strong>Deal Dashboard</strong> to find other deals from brands you already use, know and trust. If you have a deal you found that you think is just amazing that you want us to share... please send it to <a href="mailto:delia@dealsformommy.com">delia@dealsformommy.com</a>.</p>


<br class="clear" />