<div id="mainDiv">
	<div id="mem-hot-stuff">
		<h3 class="blockHead textAlignCenter"><strong class="color2">COUPONS: </strong>&nbsp;<span class="color5 fs12">Clip some coupons or head to <%= link_to 'home page','/home' %></span></h3>
	</div>
	<br class="clear" />
    <%= render :partial => 'partials/coupons_coupon_feed' %>
</div>
<!--[if IE ]>
</div>
<![endif]-->