<div id="mainDiv">
	<div id="mem-hot-stuff">
		<h3 class="blockHead textAlignCenter">
			<strong class="color2">FREEBIES AND COUPONS</strong>&nbsp;
		</h3>
	</div>
	<br stle="clear:both" />
	<script language="javascript" type="text/javascript" charset="ISO-­‐8859-­‐1" src="http://ss.mysavings.com/ss.asp?pid=3738&cid=1&tw=850&max=16&lay=h&spn=0&roo=1&tag=js" ></script>
	</div>
<!--[if IE ]>
</div>
<![endif]-->