<div id="mainDiv">
	<div id="mem-hot-stuff">
		<h3 class="blockHead textAlignCenter">
			<strong class="color2">TRAVEL DEALS</strong>&nbsp;
			
		</h3>
	</div>
	<div style="clear:both;"></div>
	<div style="background-color:#FFFFCC; padding:20px; margin:20px 0; border:#FFC738 solid 1px;">
	<div style="width:640px; margin:0 auto;">
	<div class="traveldeals">
		<script type="text/javascript" language="javascript" src="http://www.jdoqocy.com/placeholder-5578391?target=_blank&mouseover=Y"></script>
	</div>

	<div class="traveldeals">
		<script type="text/javascript" language="javascript" src="http://www.jdoqocy.com/placeholder-5578396?target=_blank&mouseover=Y"></script>
	</div>

	<div class="traveldeals">
		<a href="http://www.dpbolvw.net/3g103cy63y5LRORSPVULNMUVQTVT?sid=DFM_travel-deals" target="_blank" onmouseover="window.status='http://www.radisson.com';return true;" onmouseout="window.status=' ';return true;"><img src="http://www.tqlkg.com/l2116vvzntrCIFIJGMLCEDLMHKMK" alt="Radisson" border="0"/></a>
	</div>
	<div class="traveldeals">
		<script type="text/javascript" language="javascript" src="http://www.dpbolvw.net/placeholder-5578403?target=_blank&mouseover=Y"></script>
	</div>
	<div style="clear:both;"></div>
	</div>
	</div>
	<div style="clear:both;"></div>
	<div align="center" class="travelGA">
		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-2668921662088639";
		/* Deals For Mommy - Travel */
		google_ad_slot = "7508063070";
		google_ad_width = 728;
		google_ad_height = 90;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
		
		</div>


</div>
	<div style="clear:both;"></div>
<!--[if IE ]>
</div>
<![endif]-->