<div id="message">
  <%= image_tag 'thmb-Delia.gif',:alt => 'Delia', :size => '44x45', :align => 'left', :style => "float:left;margin:0 10px 20px 0;text-align: left;"  %>
  <h2>Ooops. Something went wrong.</h2>
  <p>We are reviewing your error.</p>
</div>
<!-- End message -->
<div id="mainDiv">
  <!-- Start formContainer-->
  <!-- End formContainer -->
  <!-- Start promoContainer -->
  <div id="promoContainer">
    <!-- Start Promo -->
    <div id="promo">
      <%= image_tag("bg-promo-green.png", :alt=>"Get access to the Best Free Samples, Local Savings, Weekly Coupons, and Daily Deals", :title=>"Best Free Samples, Local Savings, Weekly Coupons", :size=>'416x210') %>
    </noscript>
    </div>
    <!-- End Promo -->
  </div>
  <div class="clear"></div>
  <!-- End promoContainer -->
</div>
<!-- Start logoPromo -->
<div id="logoPromo">
  <script>utmx_section("section5")</script>
  <h2>Pull great deals from brands you know and trust.</h2>
  </noscript>
  <%= render :partial => 'partials/logo_promo' %>
</div>
<!-- End logoPromo -->