<div style="width:700px;background-color:#add8e6;">
  <%= render :partial => 'partials/group_commerce_email_template' %>
<h1>Get HTML CODE</h1>
<textarea rows="40" cols="30"><%=  render :partial => 'partials/group_commerce_email_template' %></textarea>
</div>
