		<!-- Start CoReg -->
			<div style="float:left;">
			<%= image_tag 'smartone-90x90__2_.jpg', :size=>'90x90', :style=>"float:right" %></li>
            <h5> Save on Weight Watchers® Smart Ones® products!</h5>
			<h3>Save $4.00 when you sign up for our emails! Get info on new products, recipes, coupons and more.</h3>
            </div>
		<!-- End coReg -->